.main-body{
    background-image: url("resources/background-body.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    background-image: url("resources/logo.svg");
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Quicksand";
    src: url("font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("font/HoneyScript-Light.ttf");
}

*{
    font-family: "Quicksand";
    font-size: 14px;
}

.title01{

    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px;

}

.background{
    background-image: url("resources/background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title02{
    font-size: 25px;
    font-weight: bold;
    font-family: "Quicksand";
}

.cart-icon{
    background-image: url("resourses/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.poster-img-1{
    height: 500px;
    background-repeat: no-repeat;
}

.poster-caption{
    margin-bottom: 150px;
}

.poster-title{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.poster-txt{
    color: gray;
    font-size: 20px;
}

.poster-caption-1{
    margin-bottom: 70px;
    margin-right: 280px;
}